<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Singapore Police Force | @ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script language="javascript" type="text/javascript">
        window.history.forward();
        function noBack() {
            window.history.forward();  
        }
    </script>
</head>
<body onload="noBack();">
    @{ Html.RenderPartial("masthead");}
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @{ Html.RenderPartial("footer");}
        </footer>
    </div>

   
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
